<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <link rel="stylesheet" th:href="@{/css/update.css}" />
  <title>Update Todo</title>
</head>
<body>
<h1>Todos Application</h1>
<form method="post" th:action="@{/{id}(id = ${todo.id})}" th:object="${todoObj}">
  <input id="task" name="task" type="text" th:value="${todo.task}" required />
  <button type="submit">Update Task</button>
</form>
</body>
</html>
